server {
    server_name your.domain.name;

    location /v2/ {
        # Proxy ke Docker Registry
        proxy_pass https://YOUR-KUBERNETES_IP:YourNodePort/v2/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Denied request from browser
        if ($http_user_agent ~* (mozilla|chrome|safari)) {
            return 403;
        }

        # Allow Access for Docker CLI
        satisfy any;
        allow 127.0.0.1;  # Izinkan akses dari localhost
    }

    location /v2/_catalog {
        # Izinkan akses ke endpoint _catalog hanya melalui docker login
        auth_basic "Restricted Content";
        auth_basic_user_file /path/to/authentication_file;
        proxy_pass https://YOUR-KUBERNETES_IP:YourNodePort/v2/;
    }

    location / {
        # Proxy ke registry untuk endpoint lainnya
        proxy_pass https://YOUR-KUBERNETES_IP:YourNodePort;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

  }


